* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.div-clear {
    clear: both;
}

#container {
    background-color: black;
}

.my_navbar {
    background-color: black;
}

.home {
    padding-left: 20px;
    font-size: 1rem;
    color: white;
}

.home p {
    font-size: 1.5rem;
}

ul li a {
    margin: 0 15px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.drop-item {
    background-color: black;
}

.slider {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    width: 100%;
    padding-top: 10px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 15px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
    margin: 1rem 0 1rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.4rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
    background: #1d1d1d;
}

.footer-p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.emon {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.emon:hover {
    color: blue;
    background-color: white;
    text-decoration: none;
}

.image {
    height: 300px;
    width: 300px;
    margin: auto;
    margin-bottom: 80px;
}

.about-photo {
    object-fit: cover;
}

.about-text {
    color: rgb(195, 194, 194);
    width: 50%;
    height: 100%;
    margin: auto;
    text-indent: 50px;
    margin-bottom: 156px;
}